@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<MVCapp.Models.Project>
<!-- Section 1 -->
<section class="relative py-16  min-w-screen animation-fade animation-delay">
    <div class="container px-0 px-8 mx-auto sm:px-12 xl:px-5">
        <p class="text-3xl font-bold text-left text-white uppercase sm:mx-6 sm:text-center sm:text-normal sm:font-bold">
            IT Department tasks and Assigned Employee
        </p>
        <h3 class="mt-1 text-lg font-bold text-left text-gray-200 sm:mx-6 sm:text-3xl md:text-4xl lg:text-5xl sm:text-center sm:mx-0">
            Current Projects
        </h3>
        <header class="flex items-center justify-between px-0 px-8 mx-auto sm:px-12 xl:px-5">
            <a asp-controller="Projects" asp-action="Index" class="text-lg leading-6 font-medium text-white">Projects</a>
            <a asp-controller="Projects" asp-action="Create" class="hover:bg-light-blue-200 hover:text-light-blue-800 group flex items-center rounded-md bg-light-blue-100 text-white text-sm font-medium px-4 py-2">
                <svg class="group-hover:text-light-blue-600 text-white mr-2" width="12" height="20" fill="currentColor">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6 5a1 1 0 011 1v3h3a1 1 0 110 2H7v3a1 1 0 11-2 0v-3H2a1 1 0 110-2h3V6a1 1 0 011-1z" />
                </svg>
                New Project
            </a>
        </header>
        @if (Model.Count() < 1)
        {
    <div class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 rounded-lg sm:px-8 md:px-12 sm:py-8 sm:shadow lg:w-5/6 xl:w-2/3">
        <h3 class="text-lg font-bold text-purple-500 sm:text-xl md:text-2xl">No New Projects</h3>
        <a asp-controller="Projects" asp-action="Create"  class="mt-2 text-base text-gray-600 sm:text-lg md:text-normal hover:bg-light-blue-200">
           Create a new project
        </a>
    </div>
        }
        @foreach (var item in Model)
        {
            <div class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 rounded-lg sm:px-8 md:px-12 sm:py-8 sm:shadow lg:w-5/6 xl:w-2/3">
                <h3 class="text-lg font-bold text-purple-500 sm:text-xl md:text-2xl"> @Html.DisplayFor(modelItem => item.Title)</h3>
                <p class="mt-2 text-base text-gray-600 sm:text-lg md:text-normal">
                    @Html.DisplayFor(modelItem => item.Description)
                </p>
                <div class="col-start-2 row-start-1 row-end-3 pt-6">
                    <span class="sr-only">Users</span>
                    <div class="flex justify-end sm:justify-start lg:justify-end xl:justify-start -space-x-2">
                        <img src="https://ui-avatars.com/api/?background=0D8ABC&color=fff&name=David+Adokuru" alt="user.name" width="48" height="48" class="w-7 h-7 rounded-full bg-gray-100 border-2 border-white" />
                        <p class="text-md-center px-3">David Adokuru</p>
                    </div>
                </div>
            </div>
        }


    </div>
</section>

